.row {
  margin-left: 0px;
}
h2 {
  margin-left: 20px;
}

.posters_list {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  transition: all 0.2s;
}

.posters_list::-webkit-scrollbar {
  display: none;
}

.poster {
  object-fit: contain;
  width: 100%;
  max-width: 150px;
  transition: all 0.4s;
  margin: 5px;
}

.poster:hover {
  transform: scale(1.08);
  cursor: pointer;
}
